h1 {
    color: green;
    text-align: center;
    text-decoration: underline;
    font-size: 30px;

    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}

h2 {
    color: magenta;
}

p {
    color: black;
    background-color: aquamarine;
    font-weight: bold;
    font-family: 'Cascadia Code', Consolas, 'Courier New', monospace;
}

button {
    color:red;
    background-color: pink;
}

a {
    text-decoration: none;
}